*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    background-image: url('../assets/images/index/background.png');
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}
.own-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    border: 1px solid black;
}


/* .caja{
    width: 400px;
    height: 390px; */
    /* border: 1px solid red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
/* } */


/* esta clase da centrado en fila */
/* .center-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */


